@model StepVM

@{
ViewData["Title"] = "Steps";
}
@section VendorStyles{
}
@section VendorScripts {
}
@section PageScripts {
<script>
  function toggleDiv() {
    const checkbox = document.getElementById("pricingCheck");
    checkbox.addEventListener("change", toggleDiv);
    const div = document.getElementById("pricingDiv");
    div.style.display = checkbox.checked ? "block" : "none";
  }
</script>
}

<div class="col-xl">
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Create new Step</h5>
      <h5 class="mb-0">@Model.Roadmap.Name</h5>
      <small class="text-muted float-end">Merged input group</small>
    </div>
    <div class="card-body">
      <form method="post" class="row">
        <input asp-for="Step.RoadmapId" value="@Model.Roadmap.RoadmapId" hidden/>
        @if (Model.Step?.StepId is not null)
        {
          <input asp-for="Step.StepId" value="@Model.Step.StepId" hidden/>
        }
        <div class="row g-3">
          <div class="col-md-6">
            <label asp-for="Step.Title" class="form-label" for="multicol-step-name">Title</label>
            <input asp-for="Step.Title" type="text" id="multicol-step-name" class="form-control" placeholder="Screening & Consultation"/>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-md-6">
            <label asp-for="Step.StepNo" class="form-label" for="multicol-step-number">Step Number</label>
            <input asp-for="Step.StepNo" type="number" id="multicol-step-number" class="form-control" placeholder="1"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-check mt-3 pb-4">
            <input asp-for="Step.CombinedPricing" class="form-check-input" type="checkbox" id="pricingCheck" onclick="toggleDiv()"/>
            <label class="form-check-label" for="pricingCheck">
              Combined Pricing
            </label>
          </div>
        </div>
        <div id="pricingDiv" style="display: none">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label" for="multicol-first-name">Price Weekday</label>
              <input asp-for="Step.PriceWeekday" type="number" id="multicol-first-name" class="form-control" placeholder="100"/>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="multicol-last-name">Price Weekend</label>
              <input asp-for="Step.PriceWeekend" type="number" id="multicol-last-name" class="form-control" placeholder="100"/>
            </div>
          </div>
        </div>
        <div class="pt-4">
          <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
          <button  class="btn btn-label-secondary"><a asp-controller="Step" asp-action="Index"></a>Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>


