=
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Failed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }

        .text-danger {
            color: #dc3545 !important;
        }

        .text-center {
            text-align: center !important;
        }

        .darkred {
            color: darkred;
        }

        img {
            display: block;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <div class="container row">
        <div class="col-12 text-center">
            <h2 class="text-danger text-center">Transaction Failed! Please Try Again.</h2>
            <br /><br />
            <img src="~/img/failure.png" width="25%" />
            <br /><br />
        </div>
        <div class="col-12 text-center">
            <h3 class="col-12 text-center" style="color: darkred;">
                We are sorry for the inconvenience. Please try again or contact support if the problem persists.
            </h3>
            <br />
        </div>
    </div>
</body>
</html>
