<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }

        .text-primary {
            color: #007bff !important;
        }

        .text-center {
            text-align: center !important;
        }

        .darkred {
            color: darkred;
        }

        img {
            display: block;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <div class="container row">
        <div class="col-12 text-center">
            <h2 class="text-primary text-center">Order Placed Successfully!</h2>
            <br /><br />
            <img src="~/img/success.jpg" width="25%" />
            <br /><br />
        </div>
        <div class="col-12 text-center">
            <h3 class="col-12 text-center" style="color: darkred;">
                Thank You for Shopping with Us. Please Visit Again !!!
            </h3>
            <br />
            <p class="col-12 text-center" style="color: darkred;">
                We have emailed you the receipts. Please check your email for the details of your order.
            </p>
            <br />
        </div>
    </div>
</body>
</html>
