@model InvoiceAddVM

@{
    ViewData["Title"] = "Invoice - Create";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css">
}

@section VendorScripts {
    <script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="~/vendor/libs/jquery-repeater/jquery-repeater.js"></script>
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/app-invoice.css" />
}

@section PageScripts {
    <script src="~/js/offcanvas-add-payment.js"></script>
    <script src="~/js/offcanvas-send-invoice.js"></script>
    <script src="~/js/app-invoice-edit.js"></script>
    <script src="~/js/invoice-admin.js"></script>
}

<h6 class="mb-4">Invoice To:</h6>
<div class="col pb-2">
    <select id="parentSelect" name="parent" class="form-control" asp-for="Invoice.ParentID"></select>
</div>
<div class="row invoice-add">
    <div class="col-lg-9 col-12 mb-lg-0 mb-4">
        <div class="card invoice-preview-card">
            <div class="card-body">
                <form id="invoiceForm" method="post">
                    <input type="hidden" asp-for="Invoice.ParentID" id="ParentID" />
                    <div class="row m-sm-4 m-0">
                        <div class="col-md-7 mb-md-0 mb-4 px-0">
                            <div class="d-flex svg-illustration mb-4 gap-2 align-items-center">
                                <div class="app-brand-logo demo">
                                    @await Html.PartialAsync("_Partials/_Macros")
                                </div>
                                <span class="app-brand-text fw-bold fs-4">
                                    @TempData.Peek("appName")
                                </span>
                            </div>
                            <p class="mb-2">Office 423, South Brand Wing A KTDI</p>
                            <p class="mb-2">UTM, 81310 Skudai, Johor, Malaysia</p>
                            <p class="mb-3">+60 12-887 1846, +60 11-2810 3703</p>
                        </div>
                        <div class="col-md-5">
                            <dl class="row mb-2">
                                <dt class="col-sm-6 mb-2 mb-sm-0 text-md-end ps-0">
                                    <span class="h4 text-capitalize mb-0 text-nowrap">Invoice</span>
                                </dt>
                                <dd class="col-sm-6 d-flex justify-content-md-end pe-0 ps-0 ps-sm-2">
                                    <div class="input-group input-group-merge disabled w-px-150">
                                        <label asp-for="Invoice.InvoiceId" class="input-group-text">#</label>
                                    </div>
                                </dd>
                                <dt class="col-sm-6 mb-2 mb-sm-0 text-md-end ps-0">
                                    <span class="fw-normal">Date:</span>
                                </dt>
                                <dd class="col-sm-6 d-flex justify-content-md-end pe-0 ps-0 ps-sm-2">
                                    <input type="date" class="form-control w-px-150 invoice-date" asp-for="Invoice.DateIssued" placeholder="YYYY-MM-DD" />
                                </dd>
                                <dt class="col-sm-6 mb-2 mb-sm-0 text-md-end ps-0">
                                    <span class="fw-normal">Due Date:</span>
                                </dt>
                                <dd class="col-sm-6 d-flex justify-content-md-end pe-0 ps-0 ps-sm-2">
                                    <input type="date" class="form-control w-px-150 invoice-date" asp-for="Invoice.DueDate" placeholder="YYYY-MM-DD" />
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <hr class="my-3 mx-n4" />

                    <div class="row p-sm-4 p-0">
                        <div class="col-md-6 col-sm-5 col-12 mb-sm-0 mb-4">
                            <h6 class="mb-4">Invoice To:</h6>
                            <p class="mb-1"></p>
                            <p class="mb-1"></p>
                            <p class="mb-1"></p>
                            <p class="mb-1"></p>
                            <p class="mb-1"></p>
                        </div>
                        <div class="col-md-6 col-sm-7">
                            <h6 class="mb-4">Bill To:</h6>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="pe-4">Company:</td>
                                        <td><span class="fw-medium">RehabConnect Sdn. Bhd.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="pe-4">SSM:</td>
                                        <td>199301012242 (266980-X)</td>
                                    </tr>
                                    <tr>
                                        <td class="pe-4">Country:</td>
                                        <td>Malaysia</td>
                                    </tr>
                                    <tr>
                                        <td class="pe-4">Bank name:</td>
                                        <td>Bank Islam</td>
                                    </tr>
                                    <tr>
                                        <td class="pe-4">Bank Account:</td>
                                        <td>10052025606826</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <hr class="my-3 mx-n4" />

                    <!-- Invoice Item -->
                    <div class="source-item pt-4 px-0 px-sm-4">
                        <div class="mb-3">
                            <div class="d-flex border rounded position-relative pe-0">
                                <div class="row w-100 p-3">
                                    <div class="col-md-6 col-12 mb-md-0 mb-3">
                                        <p class="mb-2 repeater-title">Program</p>
                                        <select class="form-select item-details mb-3 program-select" asp-for="Item.Name">
                                            <option selected disabled>Select Program</option>
                                            <!-- Options will be dynamically populated -->
                                        </select>
                                        <textarea class="form-control item-description" rows="2" placeholder="Program Information" asp-for="Item.Description"></textarea>
                                    </div>
                                    <div class="col-md-2 col-12 pe-0">
                                        <p class="mb-2 repeater-title">Price</p>
                                        <p class="mb-0 price-display"></p>
                                        <input type="hidden" class="invoice-item-price" asp-for="Item.Price" /> <!-- Ensure correct naming -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-3 mx-n4" />
                    <div class="row p-0 p-sm-4">
                        <div class="col-md-6 mb-md-0 mb-3">
                            <div class="d-flex align-items-center mb-3">
                                <label for="salesperson" class="form-label me-4 fw-medium">Salesperson:</label>
                                <input type="text" class="form-control ms-3" id="salesperson" asp-for="Invoice.PICNames" placeholder="Muhammad Adam Fahmi" value="Muhammad Adam Fahmi" />
                            </div>
                            <input type="text" class="form-control" id="invoiceMsg" asp-for="Invoice.ShortNote" placeholder="Thank You for Trusting Us on This Journey!" value="Thank You for Trusting Us on This Journey!" />
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <div class="invoice-calculations">
                                <div class="d-flex justify-content-between mb-2">
                                    <span class="w-px-100">Subtotal:</span>
                                    <input class="fw-medium" id="subtotal-input" asp-for="Invoice.Subtotal" placeholder="$00.00" hidden />
                                    <span class="fw-medium" id="subtotal-display">$00.00</span>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <span class="w-px-100">Discount:</span>
                                    <span class="fw-medium">0</span>
                                    <input type="hidden" id="discount-input" asp-for="Invoice.Discount" value="0.00" hidden />
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between mb-2">
                                    <span class="w-px-100">Total:</span>
                                    <input class="fw-semibold" id="total-input" asp-for="Invoice.Total" placeholder="$00.00" hidden />
                                    <span class="fw-semibold" id="total-display">$00.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-3 mx-n4" />
                    <div class="row px-0 px-sm-4">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="note" class="form-label fw-medium">Note:</label>
                                <textarea class="form-control" rows="2" id="note" asp-for="Invoice.LongNote" ></textarea>
                            </div>
                        </div>
                    </div>
                    <hr class="my-3 mx-n4" />
                    <div class="row px-sm-4 px-0">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-sm-3 me-1">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Offcanvas -->
@await Html.PartialAsync("_Partials/_Offcanvas/OffcanvasSendInvoice")
@await Html.PartialAsync("_Partials/_Offcanvas/OffcanvasAddPayment")
<!-- /Offcanvas -->
