@{
  Layout = "_FrontLayout";
  ViewData["Title"] = "RehabConnect";
}

@section VendorStyles{
  <link rel="stylesheet" href="~/vendor/libs/nouislider/nouislider.css" />
  <link rel="stylesheet" href="~/vendor/libs/swiper/swiper.css" />
}
@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/front-page-landing.css" />
}
@section VendorScripts{
<script src="~/vendor/libs/nouislider/nouislider.js"></script>
<script src="~/vendor/libs/swiper/swiper.js"></script>
}
@section PageScripts {
<script src="~/js/front-page-landing.js"></script>
}

@* ************** Content ************** *@
<div data-bs-spy="scroll" class="scrollspy-example">
  <!-- Hero: Start -->
    <section id="hero-animation">
        <div id="landingHero" class="section-py landing-hero position-relative">
            <div class="container">
                <div class="hero-text-box text-center">
                    <h1 class="text-primary hero-title display-6 fw-bold">Empowering Special Students for a Better Future</h1>
                    <h2 class="hero-sub-title h6 mb-4 pb-1">
                        One comprehensive platform for therapists, admins, customer support, and parents
                        to support children with autism and other special needs.
                    </h2>
                    <div class="landing-hero-btn d-inline-block position-relative">
                        <span class="hero-btn-item position-absolute d-none d-md-flex text-heading">
                            Join us now
                            <img src="~/img/front-pages/icons/Join-community-arrow.png" alt="Join community arrow" class="scaleX-n1-rtl" />
                        </span>
                        <a href="/Identity/Account/Register" class="btn btn-primary btn-lg">Sign Up Now!</a>
                    </div>
                </div>
                <div id="heroDashboardAnimation" class="hero-animation-img">
                    <a href="/Identity/Account/Register" target="_blank">
                        <div id="heroAnimationImg" class="position-relative hero-dashboard-img">
                            <img src="~/img/front-pages/landing-page/hero-dashboard-light.png" alt="hero dashboard" class="animation-img" data-app-light-img="front-pages/landing-page/hero-dashboard-light.png" data-app-dark-img="front-pages/landing-page/hero-dashboard-dark.png" />
                            <img src="~/img/front-pages/landing-page/hero-elements-light.png" alt="hero elements" class="position-absolute hero-elements-img animation-img top-0 start-0" data-app-light-img="front-pages/landing-page/hero-elements-light.png" data-app-dark-img="front-pages/landing-page/hero-elements-dark.png" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="landing-hero-blank"></div>
    </section>

  <!-- Hero: End -->
    <!-- Useful features: Start -->
    <section id="landingFeatures" class="section-py landing-features">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">Useful Features</span>
            </div>
            <h3 class="text-center mb-1">
                <span class="section-title">Everything you need</span> to support your child's growth
            </h3>
            <p class="text-center mb-3 mb-md-5 pb-3">
                More than just a set of tools, our platform is a comprehensive solution designed to support children with special needs.
            </p>
            <div class="features-icon-wrapper row gx-0 gy-4 g-sm-5">
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/laptop.png" alt="laptop charging" />
                    </div>
                    <h5 class="mb-3">Best Design Calendar</h5>
                    <p class="features-icon-description">
                        Easily view and manage booked sessions with our user-friendly calendar interface.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/rocket.png" alt="transition up" />
                    </div>
                    <h5 class="mb-3">Easy Payment Interface</h5>
                    <p class="features-icon-description">
                        Simplified payment process for hassle-free transactions.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/paper.png" alt="edit" />
                    </div>
                    <h5 class="mb-3">Cost-Effective Solutions</h5>
                    <p class="features-icon-description">
                        Providing the best services at the most affordable prices.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/check.png" alt="3d select solid" />
                    </div>
                    <h5 class="mb-3">Intuitive Interface</h5>
                    <p class="features-icon-description">
                        Manage your child's learning journey with our easy-to-use interface.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/user.png" alt="lifebelt" />
                    </div>
                    <h5 class="mb-3">Excellent Support</h5>
                    <p class="features-icon-description">
                        Access to dedicated support and comprehensive documentation.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/keyboard.png" alt="google docs" />
                    </div>
                    <h5 class="mb-3">Continuous Updates</h5>
                    <p class="features-icon-description">
                        Regular updates with new features to enhance your experience.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Useful features: End -->
    <!-- Real customers reviews: Start -->
    <section id="landingReviews" class="section-py bg-body landing-reviews pb-0">
        <!-- What people say slider: Start -->
        <div class="container">
            <div class="row align-items-center gx-0 gy-4 g-lg-5">
                <div class="col-md-6 col-lg-5 col-xl-3">
                    <div class="mb-3 pb-1">
                        <span class="badge bg-label-primary">Real Customers Reviews</span>
                    </div>
                    <h3 class="mb-1"><span class="section-title">What people say</span></h3>
                    <p class="mb-3 mb-md-5">
                        See what our customers have to<br class="d-none d-xl-block" />
                        say about their experience.
                    </p>
                    <div class="landing-reviews-btns">
                        <button id="reviews-previous-btn" class="btn btn-label-primary reviews-btn me-3 scaleX-n1-rtl" type="button">
                            <i class="ti ti-chevron-left ti-sm"></i>
                        </button>
                        <button id="reviews-next-btn" class="btn btn-label-primary reviews-btn scaleX-n1-rtl" type="button">
                            <i class="ti ti-chevron-right ti-sm"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 col-xl-9">
                    <div class="swiper-reviews-carousel overflow-hidden mb-5 pb-md-2 pb-md-3">
                        <div class="swiper" id="swiper-reviews">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img src="~/img/front-pages/branding/logo-1.png" alt="client logo" class="client-logo img-fluid" />
                                            </div>
                                            <p>
                                                “RehabConnect has been a game-changer for managing my child's therapy sessions. The calendar feature is incredibly easy to use.”
                                            </p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img src="~/img/avatars/1.png" alt="Avatar" class="rounded-circle" />
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">Cecilia Payne</h6>
                                                    <p class="small text-muted mb-0">Parent</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img src="~/img/front-pages/branding/logo-2.png" alt="client logo" class="client-logo img-fluid" />
                                            </div>
                                            <p>
                                                “The payment interface is straightforward and makes it easy to handle all transactions.”
                                            </p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img src="~/img/avatars/2.png" alt="Avatar" class="rounded-circle" />
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">Eugenia Moore</h6>
                                                    <p class="small text-muted mb-0">Parent</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img src="~/img/front-pages/branding/logo-3.png" alt="client logo" class="client-logo img-fluid" />
                                            </div>
                                            <p>
                                                “RehabConnect is affordable and provides all the necessary features to track my child's progress effectively.”
                                            </p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img src="~/img/avatars/3.png" alt="Avatar" class="rounded-circle" />
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">Curtis Fletcher</h6>
                                                    <p class="small text-muted mb-0">Parent</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img src="~/img/front-pages/branding/logo-4.png" alt="client logo" class="client-logo img-fluid" />
                                            </div>
                                            <p>
                                                “The support team at RehabConnect is always helpful and provides excellent documentation.”
                                            </p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img src="~/img/avatars/4.png" alt="Avatar" class="rounded-circle" />
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">Sara Smith</h6>
                                                    <p class="small text-muted mb-0">Therapist</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img src="~/img/front-pages/branding/logo-5.png" alt="client logo" class="client-logo img-fluid" />
                                            </div>
                                            <p>
                                                “RehabConnect's interface is intuitive and easy to navigate, making it simple to manage therapy sessions.”
                                            </p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img src="~/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">John Doe</h6>
                                                    <p class="small text-muted mb-0">Therapist</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img src="~/img/front-pages/branding/logo-6.png" alt="client logo" class="client-logo img-fluid" />
                                            </div>
                                            <p>
                                                “RehabConnect is a great tool that has helped us streamline our processes and improve the quality of care we provide.”
                                            </p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img src="~/img/avatars/1.png" alt="Avatar" class="rounded-circle" />
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">Jane Smith</h6>
                                                    <p class="small text-muted mb-0">Administrator</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- What people say slider: End -->
        <hr class="m-0" />
        <!-- Logo slider: Start -->
        <div class="container">
            <div class="swiper-logo-carousel py-4 my-lg-2">
                <div class="swiper" id="swiper-clients-logos">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/img/front-pages/branding/logo_1-light.png" alt="client logo" class="client-logo" data-app-light-img="front-pages/branding/logo_1-light.png" data-app-dark-img="front-pages/branding/logo_1-dark.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/img/front-pages/branding/logo_2-light.png" alt="client logo" class="client-logo" data-app-light-img="front-pages/branding/logo_2-light.png" data-app-dark-img="front-pages/branding/logo_2-dark.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/img/front-pages/branding/logo_3-light.png" alt="client logo" class="client-logo" data-app-light-img="front-pages/branding/logo_3-light.png" data-app-dark-img="front-pages/branding/logo_3-dark.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/img/front-pages/branding/logo_4-light.png" alt="client logo" class="client-logo" data-app-light-img="front-pages/branding/logo_4-light.png" data-app-dark-img="front-pages/branding/logo_4-dark.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/img/front-pages/branding/logo_5-light.png" alt="client logo" class="client-logo" data-app-light-img="front-pages/branding/logo_5-light.png" data-app-dark-img="front-pages/branding/logo_5-dark.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Logo slider: End -->
    </section>
    <!-- Real customers reviews: End -->
    <!-- Our great team: Start -->
  <section id="landingTeam" class="section-py landing-team">
    <div class="container">
      <div class="text-center mb-3 pb-1">
        <span class="badge bg-label-primary">Our Great Team</span>
      </div>
      <h3 class="text-center mb-1"><span class="section-title">Supported</span> by QWERTY</h3>
      <p class="text-center mb-md-5 pb-3">Who is behind these great-looking interfaces?</p>
      <div class="row gy-5 mt-2">
        <div class="col-lg-3 col-sm-6">
          <div class="card mt-3 mt-lg-0 shadow-none">
            <div class="bg-label-primary position-relative team-image-box">
              <img src="~/img/front-pages/landing-page/team-member-1.png" class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl" alt="human image" />
            </div>
            <div class="card-body border border-top-0 border-label-primary text-center">
              <h5 class="card-title mb-0">Mikhail Yassin</h5>
              <p class="text-muted mb-0">The GOAT, Project Leader</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card mt-3 mt-lg-0 shadow-none">
            <div class="bg-label-info position-relative team-image-box">
              <img src="~/img/front-pages/landing-page/team-member-2.png" class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl" alt="human image" />
            </div>
            <div class="card-body border border-top-0 border-label-info text-center">
              <h5 class="card-title mb-0">Fikri Sharunnazim</h5>
              <p class="text-muted mb-0">User Management Lead</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card mt-3 mt-lg-0 shadow-none">
            <div class="bg-label-danger position-relative team-image-box">
              <img src="~/img/front-pages/landing-page/team-member-3.png" class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl" alt="human image" />
            </div>
            <div class="card-body border border-top-0 border-label-danger text-center">
              <h5 class="card-title mb-0">Adam Fahmi</h5>
              <p class="text-muted mb-0">Report Payment Lead</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card mt-3 mt-lg-0 shadow-none">
            <div class="bg-label-success position-relative team-image-box">
              <img src="~/img/front-pages/landing-page/team-member-4.png" class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl" alt="human image" />
            </div>
            <div class="card-body border border-top-0 border-label-success text-center">
              <h5 class="card-title mb-0">Farhan Ibrahim</h5>
              <p class="text-muted mb-0">Invoice Session Lead</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our great team: End -->

  <!-- FAQ: Start -->
  <section id="landingFAQ" class="section-py bg-body landing-faq">
    <div class="container">
      <div class="text-center mb-3 pb-1">
        <span class="badge bg-label-primary">FAQ</span>
      </div>
      <h3 class="text-center mb-1">Frequently asked <span class="section-title">questions</span></h3>
      <p class="text-center mb-5 pb-3">Browse through these FAQs to find answers to commonly asked questions.</p>
      <div class="row gy-5">
        <div class="col-lg-5">
          <div class="text-center">
            <img src="~/img/front-pages/landing-page/faq-boy-with-logos.png" alt="faq boy with logos" class="faq-image" />
          </div>
        </div>
        <div class="col-lg-7">
          <div class="accordion" id="accordionExample">
            <div class="card accordion-item active">
              <h2 class="accordion-header" id="headingOne">
                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne">
                  Do you charge for each upgrade?
                </button>
              </h2>

              <div id="accordionOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Lemon drops chocolate cake gummies carrot cake chupa chups muffin topping. Sesame snaps icing
                  marzipan gummi bears macaroon dragée danish caramels powder. Bear claw dragée pastry topping
                  soufflé. Wafer gummi bears marshmallow pastry pie.
                </div>
              </div>
            </div>
            <div class="card accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">
                  Do I need to purchase a license for each website?
                </button>
              </h2>
              <div id="accordionTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
                  dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies. Jelly
                  beans candy canes carrot cake. Fruitcake chocolate chupa chups.
                </div>
              </div>
            </div>
            <div class="card accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionThree" aria-expanded="false" aria-controls="accordionThree">
                  What is regular license?
                </button>
              </h2>
              <div id="accordionThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Regular license can be used for end products that do not charge users for access or service(access
                  is free and there will be no monthly subscription fee). Single regular license can be used for
                  single end product and end product can be used by you or your client. If you want to sell end
                  product to multiple clients then you will need to purchase separate license for each client. The
                  same rule applies if you want to use the same end product on multiple domains(unique setup). For
                  more info on regular license you can check official description.
                </div>
              </div>
            </div>
            <div class="card accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionFour" aria-expanded="false" aria-controls="accordionFour">
                  What is extended license?
                </button>
              </h2>
              <div id="accordionFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis et aliquid quaerat possimus maxime!
                  Mollitia reprehenderit neque repellat deleniti delectus architecto dolorum maxime, blanditiis
                  earum ea, incidunt quam possimus cumque.
                </div>
              </div>
            </div>
            <div class="card accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionFive" aria-expanded="false" aria-controls="accordionFive">
                  Which license is applicable for SASS application?
                </button>
              </h2>
              <div id="accordionFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi molestias exercitationem ab cum
                  nemo facere voluptates veritatis quia, eveniet veniam at et repudiandae mollitia ipsam quasi
                  labore enim architecto non!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FAQ: End -->

</div>
