@{
  TempData.Keep();

  string? currentPage =  ViewContext.HttpContext.Request.Path;

  ViewData["containerNav"] ??= "container-fluid";
}

<!-- Menu -->
<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal  menu bg-menu-theme flex-grow-0">
  <div class='@ViewData["containerNav"] d-flex h-100'>
    @* ! Full version menu-items *@
    <ul class="menu-inner">

      <!-- Dashboards -->
      <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards") ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons ti ti-smart-home"></i>
          <div data-i18n="Dashboards">Dashboards</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/" ? " active" : "")'>
            <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
              <i class="menu-icon tf-icons ti ti-chart-pie-2"></i>
              <div data-i18n="Analytics">Analytics</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Dashboards/CRM" ? " active" : "")'>
            <a asp-controller="Dashboards" asp-action="CRM" class="menu-link">
              <i class="menu-icon tf-icons ti ti-3d-cube-sphere"></i>
              <div data-i18n="CRM">CRM</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Ecommerce/Dashboard" ? " active" : "")'>
            <a asp-controller="Ecommerce" asp-action="Dashboard" class="menu-link">
              <i class='menu-icon tf-icons ti ti-shopping-cart'></i>
              <div data-i18n="eCommerce">eCommerce</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Logistics/Dashboard" ? " active" : "")'>
            <a asp-controller="Logistics" asp-action="Dashboard" class="menu-link">
              <i class='menu-icon tf-icons ti ti-truck'></i>
              <div data-i18n="Logistics">Logistics</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Academy/Dashboard" ? " active" : "")'>
            <a asp-controller="Academy" asp-action="Dashboard" class="menu-link">
              <i class='menu-icon tf-icons ti ti-book'></i>
              <div data-i18n="Academy">Academy</div>
            </a>
          </li>
        </ul>
      </li>

            <!-- Assign Therapist -->
            <li class='menu-item@(currentPage.StartsWith("/LayoutExamples") ? " active" : "")'>
                <a asp-controller="Student" asp-action="Index" class="menu-link">
                    <i class="menu-icon tf-icons ti ti-nurse"></i>
                    <div data-i18n="Assign Therapist">Assign Therapist</div>
                </a>
            </li>

      <!-- Pages -->
      <li class='menu-item@((currentPage.StartsWith("/Report") || currentPage.StartsWith("/Wizards") || currentPage.StartsWith("/Auth") || currentPage.StartsWith("/Modals")) ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons ti ti-report"></i>
          <div data-i18n="Report">Report</div>
        </a>
        <ul class="menu-sub">
          <!-- Front Pages -->
          <li class='menu-item@(currentPage.StartsWith("/Report") ? " active open" : "")'>
            <a asp-controller="Report" asp-action="Index" class="menu-link">
              <i class='menu-icon tf-icons ti ti-book'></i>
              <div data-i18n="Manage Report">Manage Report</div>
            </a>
            </a>
          </li>
        </ul>
      </li>

      <!-- Apps -->
      <li class='menu-item@((currentPage.StartsWith("/Apps") || currentPage.StartsWith("/Access") || currentPage.StartsWith("/Users") || currentPage.StartsWith("/Ecommerce") || currentPage.StartsWith("/Academy") || currentPage.StartsWith("/Logistics") || currentPage.StartsWith("/Invoice") || currentPage.StartsWith("/Transactions")) ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons ti ti-users"></i>
                    <div data-i18n="User Management">User Management</div>
        </a>

        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/LayoutExamples/ContentNavbar" ? " active" : "")'>
                        <a asp-controller='ParentDetail' asp-action='Index' class="menu-link" target="_blank">
                            <div data-i18n="Manage Parent">Manage Parent</div>
            </a>
          </li>
                    <li class='menu-item@(currentPage == "/LayoutExamples/ContentNavbar" ? " active" : "")'>
                        <a asp-controller='Student' asp-action='Index' class="menu-link" target="_blank">
                            <div data-i18n="Manage Student">Manage Student</div>
                        </a>
                    </li>
          </ul>
      </li>

            

    </ul>
  </div>
</aside>
<!-- / Menu -->
