@{
  TempData.Keep();

  string? currentPage =  ViewContext.HttpContext.Request.Path;

  ViewData["containerNav"] ??= "container-fluid";
}

<!-- Menu -->
<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal  menu bg-menu-theme flex-grow-0">
  <div class='@ViewData["containerNav"] d-flex h-100'>
    @* ! Full version menu-items *@
    <ul class="menu-inner " >

      <!-- Home -->
      <li class='menu-item@((currentPage.StartsWith("/Charts") || currentPage.StartsWith("/Maps")) ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link ">
          <i class="menu-icon tf-icons ti ti-chart-bar"></i>
          <div data-i18n="Home">Home</div>
        </a>
      </li>

      <!-- Academics -->
      <li class='menu-item@((currentPage.StartsWith("/Charts") || currentPage.StartsWith("/Maps")) ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons ti ti-chart-bar"></i>
          <div data-i18n="Academic">Academic</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/Maps/Leaflet" ? " active" : "")'>
            <a asp-controller="Maps" asp-action="Leaflet" class="menu-link">
              <i class="menu-icon tf-icons ti ti-map"></i>
              <div data-i18n="Overview">Overview</div>
            </a>
          </li>
          <li class='menu-item@(currentPage.StartsWith("/Charts") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons ti ti-chart-pie"></i>
              <div data-i18n="Session">Session</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Charts/Apex" ? " active" : "")'>
                <a asp-area="Parent" asp-controller="Session" asp-action="Index" class="menu-link">
                  <div data-i18n="Reserve Slot">Reserve Slot</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Charts/Chartjs" ? " active" : "")'>
                <a asp-controller="Charts" asp-action="Chartjs" class="menu-link">
                  <div data-i18n="Session Report">Session Report</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- Payments -->
      <li class='menu-item@((currentPage.StartsWith("/Charts") || currentPage.StartsWith("/Maps")) ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons ti ti-chart-bar"></i>
          <div data-i18n="Payments">Payments</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage.StartsWith("/Charts") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons ti ti-chart-pie"></i>
              <div data-i18n="Payments">Charts</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Charts/Apex" ? " active" : "")'>
                <a asp-area="Parent "asp-controller="CheckOut" asp-action="Index" class="menu-link">
                  <div data-i18n="Make Payments">Make Payments</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Charts/Chartjs" ? " active" : "")'>
                <a asp-controller="Charts" asp-action="Chartjs" class="menu-link">
                  <div data-i18n="ChartJS">ChartJS</div>
                </a>
              </li>
            </ul>
          </li>
          <li class='menu-item@(currentPage == "/Maps/Leaflet" ? " active" : "")'>
            <a asp-controller="Maps" asp-action="Leaflet" class="menu-link">
              <i class="menu-icon tf-icons ti ti-map"></i>
              <div data-i18n="Leaflet Maps">Leaflet Maps</div>
            </a>
          </li>
        </ul>
      </li>

      <!-- Profile -->
      <li class='menu-item@(currentPage.StartsWith("/ParentDetail") ? "active" : "")'>
          <a href="javascript:void(0)" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons ti ti-chart-bar"></i>
              <div data-i18n="Parent & Child">Parent & Child</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/ParentDetail/Index" ? " active" : "")'>
              <a asp-area="Parent" asp-controller="ParentDetail" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons ti ti-map"></i>
                <div data-i18n="Your Details">Your Details</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Student/Index" ? " active" : "")'>
              <a asp-area="Parent" asp-controller="Student" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons ti ti-map"></i>
                <div data-i18n="Manage Child">Manage Child</div>
              </a>
            </li>
          </ul>
      </li>
    </ul>
  </div>
</aside>
<!-- / Menu -->
