@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2 ps-1" style="font-size: 19px;">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
      <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
  <ul class="menu-inner py-1">

    <li class='menu-item@(currentPage.StartsWith("/Transactions") ? " active" : "")'>
      <a asp-controller="Transactions" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons ti ti-dashboard"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>

    <!-- User Management -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="User Management">User Management</span>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Kanban" ? " active" : "")'>
      <a asp-controller="Student" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons ti ti-nurse"></i>
        <div data-i18n="Assign Therapist">Assign Therapist</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Ecommerce") ? " active open" : "")'>
      <a href='javascript:void(0);' class='menu-link menu-toggle'>
                <i class='menu-icon tf-icons ti ti-users'></i>
        <div data-i18n='Manage User'>Manage User</div>
      </a>
      <ul class='menu-sub'>
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Product") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link menu-toggle'>
            <div data-i18n='Customer Support'>Customer Support</div>
          </a>
          <ul class='menu-sub'>
            <li class='menu-item@(currentPage == "/Ecommerce/ProductList" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action="ProductList" class="menu-link">
                <div data-i18n='Overview'>Overview</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Ecommerce/ProductAdd" ? " active" : "")'>
              <a asp-controller="CustomerSupport" asp-action="Index" class="menu-link">
                <div data-i18n='Manage Customer Support'>Manage Customer Support</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Order") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link menu-toggle'>
            <div data-i18n='Therapist'>Therapist</div>
          </a>
          <ul class='menu-sub'>
            <li class='menu-item@(currentPage == "/Ecommerce/OrderList" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action="OrderList" class="menu-link">
                <div data-i18n='Overview'>Overview</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Ecommerce/OrderDetails" ? " active" : "")'>
              <a asp-controller="Therapist" asp-action="Index" class="menu-link">
                <div data-i18n='Manage Therapist'>Manage Therapist</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Customer") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link menu-toggle'>
            <div data-i18n='Parent'>Parent</div>
          </a>
          <ul class='menu-sub'>
            <li class='menu-item@(currentPage == "/Ecommerce/CustomerAll" ? " active" : "")'>
              <a asp-controller='Ecommerce' asp-action='CustomerAll' class="menu-link">
                <div data-i18n='Overview'>Overview</div>
              </a>
            </li>
            <li
              class='menu-item@(currentPage.StartsWith("/Ecommerce/CustomerDetails") ? " active open" : "")'>
              <a href='javascript:void(0);' class='menu-link menu-toggle'>
                <div data-i18n='Child'>Child</div>
              </a>
              <ul class='menu-sub'>
                <li
                  class='menu-item@(currentPage == "/Ecommerce/CustomerDetailsOverview" ? " active" : "")'>
                  <a asp-controller='Ecommerce' asp-action='CustomerDetailsOverview' class="menu-link">
                    <div data-i18n='Child List'>Child List</div>
                  </a>
                </li>
                <li
                  class='menu-item@(currentPage == "/Ecommerce/CustomerDetailsSecurity" ? " active" : "")'>
                  <a asp-controller='Ecommerce' asp-action='CustomerDetailsSecurity' class="menu-link">
                    <div data-i18n='Enroll Child'>Enroll Child</div>
                  </a>
                </li>
                <li
                  class='menu-item@(currentPage == "/Ecommerce/CustomerDetailsBilling" ? " active" : "")'>
                  <a asp-controller='Ecommerce' asp-action='CustomerDetailsBilling' class="menu-link">
                    <div data-i18n='Address & Billing'>Address & Billing</div>
                  </a>
                </li>
                <li
                  class='menu-item@(currentPage == "/Ecommerce/CustomerDetailsNotifications" ? " active" : "")'>
                  <a asp-controller='Ecommerce' asp-action='CustomerDetailsNotifications' class="menu-link">
                    <div data-i18n='Notifications'>Notifications</div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage == "/Ecommerce/Dashboard" ? " active" : "")'>
                    <a asp-area="Identity" asp-page="/Account/Register" class="menu-link">
            <div data-i18n='Create New User'>Create New User</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Academic -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Academic">Academic</span>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Kanban" ? " active" : "")'>
      <a asp-controller="Roadmap" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons ti ti-road"></i>
        <div data-i18n="Roadmap">Roadmap</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Ecommerce") ? " active open" : "")'>
      <a href='javascript:void(0);' class='menu-link menu-toggle'>
                <i class='menu-icon tf-icons ti ti-presentation'></i>
        <div data-i18n='Manage Session'>Manage Session</div>
      </a>
      <ul class='menu-sub'>
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Product") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link'>
            <div data-i18n='Overview'>Overview</div>
          </a>
          <a href='javascript:void(0);' class='menu-link'>
            <div data-i18n='Manage Session'>Manage Session</div>
          </a>
        </li>
      </ul>
    </li>
    <!--Schedule-->
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce") ? " active open" : "")'>
            <a href='javascript:void(0);' class='menu-link menu-toggle'>
                <i class='menu-icon tf-icons ti ti-calendar'></i>
                <div data-i18n='Schedule'>Schedule</div>
            </a>
            <ul class='menu-sub'>
                <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Product") ? " active open" : "")'>
                    <a asp-controller="Schedule" asp-action="Index" class='menu-link'>
                        <div data-i18n='Overview'>Overview</div>
                    </a>
                    <a asp-controller="Schedule" asp-action="Create" class='menu-link'>
                        <div data-i18n='Add Schedule'>Add Schedule</div>
                    </a>
                </li>
            </ul>
        </li>
    <!-- Report-->
    <li class='menu-item@(currentPage.StartsWith("/Ecommerce") ? " active open" : "")'>
      <a href='javascript:void(0);' class='menu-link menu-toggle'>
                <i class='menu-icon tf-icons ti ti-report'></i>
        <div data-i18n='Manage Report'>Manage Report</div>
      </a>
      <ul class='menu-sub'>
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Product") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link'>
            <div data-i18n='Overview'>Overview</div>
          </a>
          <a href='javascript:void(0);' class='menu-link'>
            <div data-i18n='Manage Report'>Manage Report</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Announcement -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Announcement">Announcement</span>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Kanban" ? " active" : "")'>
      <a asp-controller="Apps" asp-action="Kanban" class="menu-link">
                <i class="menu-icon tf-icons ti ti-mail"></i>
        <div data-i18n="Email">Email</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Kanban" ? " active" : "")'>
      <a asp-controller="Apps" asp-action="Kanban" class="menu-link">
                <i class="menu-icon tf-icons ti ti-speakerphone"></i>
        <div data-i18n="Event">Event</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Ecommerce") ? " active open" : "")'>
      <a href='javascript:void(0);' class='menu-link menu-toggle'>
                <i class='menu-icon tf-icons ti ti-bell-ringing'></i>
        <div data-i18n='Notifications'>Notifications?</div>
      </a>
      <ul class='menu-sub'>
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Product") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link'>
            <div data-i18n='Payments'>Payments</div>
          </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Product") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link'>
            <div data-i18n='Invoice?'>Invoice?</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Billing & Invoice -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Billing & Invoice">Billing & Invoice</span>
    </li>
    <li class='menu-item@(currentPage == "/Invoice/Index" ? " active" : "")'>
      <a asp-controller="Invoice" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons ti ti-stereo-glasses"></i>
        <div data-i18n="Overview">Overview</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Invoice") ? " active open" : "")'>
      <a href='javascript:void(0);' class='menu-link menu-toggle'>
                <i class='menu-icon tf-icons ti ti-receipt-2'></i>
        <div data-i18n='Billing'>Billing</div>
      </a>
      <ul class='menu-sub'>
        <li class='menu-item@(currentPage.StartsWith("/Invoice/Preview") ? " active open" : "")'>
          <a asp-controller="Invoice" asp-action="Preview" class='menu-link'>
            <div data-i18n='Overview'>Preview</div>
          </a>
          <a asp-controller="Invoice" asp-action="Edit" class='menu-link'>
            <div data-i18n='Manage Billing'>Manage Billing</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Ecommerce") ? " active open" : "")'>
      <a href='javascript:void(0);' class='menu-link menu-toggle'>
                <i class='menu-icon tf-icons ti ti-file-invoice'></i>
        <div data-i18n='Invoice'>Invoice</div>
      </a>
      <ul class='menu-sub'>
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Product") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link'>
            <div data-i18n='Overview'>Overview</div>
          </a>
          <a href='javascript:void(0);' class='menu-link'>
            <div data-i18n='Manage Invoice'>Manage Invoice</div>
          </a>
        </li>
      </ul>
    </li>
    </ul>

</aside>
<!-- / Menu -->
