@model CustomerSupport

@{
    ViewData["Title"] = "Horizontal Form - Form Layouts";
}
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
}
@section VendorScripts {
    <script src="~/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="~/vendor/libs/moment/moment.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
}
@section PageScripts {
    <script src="~/js/form-layouts.js"></script>
}
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h4 class="py-3 mb-4"><span class="text-muted fw-light">Forms/</span> @((Model.CSID != 0) ? "Update" : "Create") Therapist</h4>

<!-- Basic Layout & Basic with Icons -->
<div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Customer Support Form</h5> <small class="text-muted float-end">Default label</small>
            </div>
            <div class="card-body">
                <form method="post" class="row" enctype="multipart/form-data" asp-antiforgery="true">
                    <input asp-for="CSID" hidden />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-3">
                        <label asp-for="CSName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="CSName" class="form-control" placeholder="John Doe" />
                            <span asp-validation-for="CSName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CSIC" class="col-sm-2 col-form-label">NRIC</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="CSIC" class="form-control" placeholder="xxxxxx-xx-xxxx" />
                            <span asp-validation-for="CSIC" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CSAge" class="col-sm-2 col-form-label">Age</label>
                        <div class="col-sm-10">
                            <input asp-for="CSAge" class="form-control" />
                            <span asp-validation-for="CSAge" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CSSex" class="col-sm-2 col-form-label">Sex</label>
                        <div class="col-sm-9">
                            <select asp-for="CSSex" class="form-select" data-allow-clear="true">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CSReligion" class="col-sm-2 col-form-label">Religion</label>
                        <div class="col-sm-10">
                            <input asp-for="CSReligion" class="form-control" />
                            <span asp-validation-for="CSReligion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CSNationality" class="col-sm-2 col-form-label">Nationality</label>
                        <div class="col-sm-10">
                            <input asp-for="CSNationality" class="form-control" />
                            <span asp-validation-for="CSNationality" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CSAddress" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <textarea asp-for="CSAddress" class="form-control" placeholder="1456, Mall Road, Jackson, 658468, Alabama"></textarea>
                            <span asp-validation-for="CSAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CSEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <input asp-for="CSEmail" type="text" class="form-control" placeholder="john.doe" />
                                <span asp-validation-for="CSEmail" class="input-group-text">johndoe@example.com</span>
                            </div>
                            <div class="form-text"> You can use letters, numbers & periods </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CSPhoneNum" class="col-sm-2 col-form-label">Phone No</label>
                        <div class="col-sm-10">
                            <input asp-for="CSPhoneNum" type="text" class="form-control phone-mask" placeholder="658 799 8941" />
                            <span asp-validation-for="CSPhoneNum" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="row justify-content-end">
                                <div class="col-sm-9">
                                    <button type="submit" class="btn btn-primary">
                                        @(Model.CSID != 0 ? "Update" : "Create")
                                    </button>
                                    <button class="btn btn-label-secondary"><a asp-controller="CustomerSupport" asp-action="Index">Back to List</a></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
