@page
@model LoginModel


@{
Layout = "_BlankLayout";
ViewData["Title"] = "Login";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
<script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
<script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
<script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@section PageScripts {
<script src="~/js/pages-auth.js"></script>
}
@* ************** Content ************** *@

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <!-- Login -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center mb-4 mt-2">
            <a href="/" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">@await Html.PartialAsync("_Partials/_Macros")</span>
              <span class="app-brand-text demo text-body fw-bold ms-1">@TempData.Peek("appName")</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-1 pt-2">Welcome to @TempData.Peek("appName")! 👋</h4>
          <p class="mb-4">Please sign-in to your account and start the adventure</p>

          <form id="account" class="mb-3" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
              <label asp-for="Input.Email" class="form-label">Email</label>
              <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
              <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" asp-for="Input.Password">Password</label>
                <a id="forgot-password" asp-page="./ForgotPassword">
                  <small>Forgot Password?</small>
                </a>
              </div>
              <div class="mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
              </div>
            </div>
            <div class="checkbox mb-3">
              <div class="form-check">
                <label asp-for="Input.RememberMe" class="form-label">
                  <input class="form-check-input" asp-for="Input.RememberMe" />
                  @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
            </div>
          </form>

          <p class="text-center">
            <span>New on our platform?</span>
            <a asp-area="Identity"asp-page="/Account/Register" >
              <span>Create an account</span>
            </a>
          </p>
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>



@* @section Scripts { *@
@*     <partial name="_ValidationScriptsPartial" /> *@
@* } *@
