@page
@model LogoutModel
@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Log out";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Content</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .centered-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <header class="centered-content">
        <div>
            <h1>@ViewData["Title"]</h1>
            @{
                if (User.Identity?.IsAuthenticated ?? false)
                {
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
                    </form>
                }
                else
                {
                    <p>You have successfully logged out of the application.</p>
                }
            }
        </div>
    </header>
</body>
</html>
