@model EditProgramVM

<form asp-action="Edit" method="post">
    <input asp-for="stuId" value="@Model.studentProgram.StudentID" hidden />
    <input asp-for="ProgramSelectList" value="@Model.ProgramSelectList" hidden>

    <div class="form-group">
        <label asp-for="studentProgram.Student.ChildName"></label>
        <input asp-for="studentProgram.Student.ChildName" readonly class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="progid">Program</label>
        <select asp-for="progid" asp-items="Model.ProgramSelectList" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back to list</a>
</form>

