/**
 * Academy Course courseContent
 */

@use '../../scss/_bootstrap-extended/include' as light;
@use '../../scss/_bootstrap-extended/include-dark' as dark;
@import '../../scss/_custom-variables/libs';

.stick-top {
  position: sticky;
  bottom: 0;
  top: calc(10px);
  &.course-content-fixed {
    top: calc(70px + 10px);
  }
}
.accordion-button::after {
  margin-top: 1rem;
}
